{
  "plugins": ["prettier-plugin-sql"],
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "sqlKeywordCase": "upper",
        "sqlIdentifierCase": "lower",
        "parser": "typescript",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
